<div id="location">
  <p> <%=@weather_results['display_location']['full'] %></p>
</div>

<div id="icon_container" class="row">

  <div class="six columns">
    <div id="img_result">
      <img id="icon" src="<%= @weather_results['icon_url'].html_safe %>">
    </div>
  </div>
  <div class="six columns">
    <div id="umbrella_container">
      <%= image_tag "umbrella.png", :id => "umbrella_image" %>
    </div>
  </div>

</div>

  <div id="conditions">
    <h4> <%= @weather_results['weather'] %> </h4>
  </div>

  <div id="temp">
    <h3> <span class="bold"><%= @weather_results['temp_f'] %></span><span id="small_font"> °F</span></h3>
  </div>

  <div id="humidity">
    <p>Humidity: <%= @weather_results['relative_humidity'] %></p>
  </div>

  <div id="wind">
    <p>Wind <%= @weather_results['wind_string'] %></p>
  </div>

  <div id="feels_like">
    <p id="heat_index">Feels like <%= @weather_results['feelslike_f'] %> °F</p>
  </div>

  <div id="rain">
    <p id="pop">Chance of rain <%= @precipitation %> %</p>
  </div>


<% if session[:user_id] %>
  <div id="dress_container">
    <%= button_tag "Choose Another Outfit", :class=>'new_outfit' %>
    <h4><span class="bold">:TBD Suggestion:</span></h4>
    <img class="tops" src="<%= @top_img_path %>"><br>
    <img class="bottoms" src="<%= @bottoms_img_path %>">
  </div>
<% end %>




