<!DOCTYPE html>
<html>
  <head>
    <title>TBD</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div>
    <div id="logo_container">
      <a href="/">:TBD<%#= image_tag "tbd.png", :id => "logo_image"  %></a>
    </div>

    <div id="welcome_container">
      <ul id="nav_menu">
        <% if current_user %>
          <li class="bold">Welcome <%= current_user.fname.titleize%> </li>
          <li><a href="/weather">Weather</a></li>
          <li><a href="/closet">My Closet</a></li>
          <li><%= link_to "Logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete, :id => "logout" %></li>
        <%else%>
            <li class="bold">Welcome Guest</li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/weather">Weather</a></li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div class="main_section">
    <%= yield %>
  </div>

  </body>

</html>
